*{
	font-family: Montserrat;
	transition: all .5s;
}

.rounded {
	border-radius: .5rem !important;
}

.border {
	border-width: 2px !important;
}

#index {
	background: url("resources/images/index/1.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;

}

#top-index-navbar {
	opacity: 0.5;
	padding-bottom: 6px;
	padding-top: 6px;
}

#top-index-navbar:hover {
	opacity: .8;
}

#brand {
	font-size: 1.75rem;
}

#index-content {
	height: 85% !important;
}

#index-content a{
	font-size: 3rem;
	cursor: pointer;
}

#index-content a:hover {
	color: inherit !important;
	text-decoration: inherit;
}

#index-content a, #brand{
	font-family: Permanent Marker;
	letter-spacing: .1rem;
}

#index-content p {
	font-size: 1.25rem;
}